body {
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .gameBoard-container {
    width: 300px;
    height: 300px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .gameBoard-container p {
    margin: 20px 0;
    color: #fff;
    background: linear-gradient(135deg, #00379c, #c402aa);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 40px;
    font-weight: bold;
  }
  
  .gameBoard {
    width: 300px;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  
  .gameBoard-box {
    background-color: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .gameBoard-box_value {
    color: #fff;
    font-weight: bold;
    font-size: 34px;
  }
  
  .gameBoard-result {
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: #ff36ab;
    font-size: 18px;
    font-weight: lighter;
    margin-top: 20px;
    text-align: start;
  }
  
  .gameBoard-result button {
    position: relative;
    margin-top: 10px;
    width: 30%;
    padding: 10px 20px;
    background-color: #ff36ab;
    color: #fff;
    border-radius: 10px;
    border: none;
    transition: background-color 0.3s ease;
  }
  
  .gameBoard-result button:hover {
    background-color: #9c2169;
  }